.loader_wrapper{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background: #f8f8f8;
}
.loader {
    border: 2px solid #f3f3f3;
border-radius: 50%;
border-top: 2px solid #3498db;
-webkit-animation: spin 0.5s linear infinite;
animation: spin 0.5s linear infinite;
z-index: 1001;
position: absolute;
left: 0;
right: 0;
top: 0;
bottom: 0;
width: 40px;
height: 40px;
margin: auto;
}

/* Safari */
@-webkit-keyframes spin {
0% { -webkit-transform: rotate(0deg); }
100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}
.loaded .loader_wrapper {
visibility: hidden;
}