body{
    user-select: text;
}

/* ########################### Regular Tab Content ########################### */
.production_content{
    background-color: #ffffff;
    margin: 1rem 0rem;
    padding-bottom: 1rem;
    border-radius: 3px;
    height: auto;
}

.production_content .production_head{
    display: block;
    list-style: none;
    color: #00abad;
    font-weight: 600;
    font-size: 22px;
    padding: 7px 5px 0px;
    margin: 5px;
    text-align: center;
}

.production_content input::placeholder, .production_content textarea::placeholder{
/*    color: #c9c9c9;*/
    color: #c0bfbf;
}

.production_content input::placeholder{
    font-size: 12px;
}

/* @@@@@@@@@@@@@@@@@@@@@@ common_production_content @@@@@@@@@@@@@@@@@@@@@@ */
.production_content .common_production_content{
    display: flex;
    width: 100%; height: 10%;
    justify-content: right;
}

.production_content .total_hours_count, .production_content .total_productivity_count{
    margin: 13px 10px;
    display: inline-flex;
    background-color: #a8dadc;
    border-radius: 5px;
    width: 15%;
}

.production_content .total_hours_count span, .production_content .total_productivity_count span{
    width: 100%;
    font-size: 15px;
    margin: 4%;
    text-align: center;
    font-weight: 600;
    color: #5a5a5a;
}

.production_content .total_hours_count b, .production_content .total_productivity_count b{
    color: #f2f2f2;
    background: #457b9d;
    padding: 4%;
    font-size: 15px;
    border-radius: 5px
}

/*.production_content .common_production_content button{
    color: #00abad;
    background: transparent;
    border: 1px solid #00abad;
    border-radius: 4px;
    font-size: 13px;
    font-weight: 600;
    outline: none;
    cursor: pointer;
    margin: 10px;
    padding: 5px 10px;
    transition: all .30s ease-in;
    width: 12%;
}

.production_content .common_production_content button:hover{
    color: #fff;
    background: #00abad;
    transition: all .5s ease-in;
    box-shadow: 0px 0px 3px 0px #c5c5c5;
}*/

/* @@@@@@@@@@@@@@@@@@@@@@ Production Box @@@@@@@@@@@@@@@@@@@@@@ */
.production_field{
    margin: 0.5%;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 3px 0px #898989;
}

/* Count - Settings */
span.product_number_count{
    position: absolute;
    left: -20px;
    top: -25%;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    padding: 0.5rem;
    width: 35px;
    border-top-left-radius: 5px;
    background: orange;
    text-align: center;
    height: 35px;
    box-shadow: 1px 1px 2px 0px #898989;
}

/* Close & Reset - Settings */
span.product_close{
    position: absolute;
    right: 0px;
    top: -15px;
    padding: 1px 10px;
    font-size: 30px;
    color: red !important;
    font-weight: bold;
    cursor: pointer;
    transition: transform .7s ease-in-out;
}
span.product_reset{
    position: absolute;
    right: 35px;
    top: -16px;
    color: #5ea782 !important;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: transform .7s ease-in-out;
}

span.product_reset i, span.product_close i{
    font-size: 15px !important;
}

span.product_reset:hover, span.product_close:hover{
    color: #f76a60;
    transform: rotate(180deg);
}
span.required{color: #f76a60;padding: 0px 3px;}
/* Close & Reset - Settings */

/* ########################### Field Row - settings ########################### */
.production_field [class*="field_row"]{
    margin: 0.5%;
    height: 5rem;
}

/* ########################### Field - Set */
.production_field [class*="selection"], .task_inputation, .production_inputs, .production_hours_input{
    display: inline-block;
    padding: 5px;
    margin: 5px;
    width: 20%;
}

.production_field [class*="selection"] label, .task_inputation label, .production_hours_input label, #select_group_type{
    font-size: 12px;
    color: #5a5a5a;
    width: 100%;
    font-weight: 600;
    margin: 0px 10px;
    padding: 5px 0px;
    text-align: left;
    display: inline-flex;
    height: 30px;
}

#select_group_type li{
    padding-left: 10px;
    width: 45%;
}

#select_group_type label{
    font-size: 12px;
    color: #5a5a5a;
    width: 100%;
    font-weight: 600;
    padding-left: 5px;
    text-align: left;
}

/* for select */
.production_field [class*="selection"] select, .task_inputation input{
    font-size: 13px;
    color: #5a5a5a;
    width: 100%;
    font-weight: 600;
    margin: 3px 5px;
    padding: 5px;
    text-align: left;
    outline: none;
    border-radius: 5px;
    border: 1px solid #5a5a5a;
    height: 50%;
}

.production_field [class*="selection"] select option{
    color: #5a5a5a;
    background-color: transparent;
    font-size: 12px;
    font-weight: 600;
}

/* for input */
.production_field .production_inputs_block input{
    font-size: 13px;
    color: #5a5a5a;
    font-weight: 600;
    padding: 5px;
    text-align: center;
    outline: none;
    border-radius: 5px;
    border: 1px solid #5a5a5a;
}

/* ########################### for - achieved & parent & Child */
.production_inputs{margin-top: 0;}
#select_group_type{padding: 0;}

#select_group_type .custom-control-input:checked~.custom-control-label::before{
    background: #457b9d;
    border: 1px solid #457b9d;
}

.production_inputs_block input[name="achieved"]{
    margin: 3px 5px;
    height: 30px;
    width: 92%
}

.production_inputs_block input[name="parent"], .production_inputs_block input[name="child"]{
    width: 45%;
    height: 30px;
    margin: 3px;
}

/* ########################### for - Hours & Mins */
.production_hours_input .hours_inputs{
    display: flow-root;
    text-align: left;
}
.production_hours_input label{font-size: 13px;}

.production_hours_input label i{
    padding: 3px 5px 0px 0px;
    font-size: 15px;
}

.production_hours_input .hours_inputs input{
    font-size: 13px;
    font-weight: 600;
    color: #5a5a5a;
    width: 35%;
    margin: 3px 5px;
    padding: 5px;
    text-align: center;
    outline: none;
    border-radius: 5px;
    border: 1px solid #5a5a5a;
    height: 30px;
}


/* ########################### for - Commments */
.comments_setting{
    margin: 3px 5px;
    padding: 0px 10px;
}

.comments_setting textarea{
    width: 103%;
    outline: none;
    color: #5a5a5a;
    font-size: 13px;
    font-weight: 600;
    border-radius: 3px;
    box-shadow: 1px 1px 3px 1px #ccc inset;
    border: 0;
    padding: 10px;
    background: #f5f6f7ba;
    height: 100%;
}

/* ########################### for - target & productivity */
.production_setters{
    padding: 5px;
    margin: 5px 25px;
/*    border: 1px solid #8c8c8c;*/
    border-radius: 5px;
/*    box-shadow: 0px 0px 5px 0px #898989;*/
    display: inline-flex;
}

.target_block, .productivity_block{
    margin: 10px;
    display: inline-flex;
    border-radius: 5px;
    color: #5ea782;
    width: 100%;
    border: 2px solid #5ea782;
    color: #5ea782;
}


.target_block label, .productivity_block label{
    width: 100%;
    font-size: 13px;
    font-weight: 900;
    color: #5ea782;
    padding: 3px;
    margin: 5px;
    text-align: center;
}

.target_block span, .productivity_block span{
    outline: none;
    width: 50%;
    padding: 5%;
    background: #5ea782;
    text-align: center;
    font-size: 13px;
    font-weight: 600;
    color: #fff;
}

/* ########################### for - add new production */
.add_row_block{
    padding: 3px;
    margin: 20px 5px 5px 0px;
    height: 2rem;
    text-align: right;
}

.add_row_block button{
    color: #fff;
    background: #0587eb;
    border: 1px solid #0587eb;
    border-radius: 4px;
    font-size: 13px;
    font-weight: 600;
    outline: none;
    cursor: pointer;
    padding: 5px 5px;
    transition: all .30s ease-in;
    width: 100px;
    height: 30px;
}
.add_row_block button:hover{
    color: #fff;
    background: #0587ebba;
    transition: all .5s ease-in;
    box-shadow: 0px 0px 3px 0px #c5c5c5;
}

/*********************************** Submit Button CSS ******************************/
.error_block{
    display: block;
    margin-left: 3%;
    padding: 5px;
    text-align: left;
    margin-top: 3px;
}
.error_block p{
    font-size: 13px;
    font-weight: 600;
    color: #f76a60;
    margin: 0;
}

.production_content form button[type="submit"]{
  display: inline-flex;
  height: 30px;
  width: 100px;
  border: 0;
  margin-top: 3rem;
  margin-left: 90%;
  color: #fff;
  background: #00abad;
  font-size: 13px;
  font-weight: 600;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 3px;
  position: relative;
  transition: all .30s ease-In;
  z-index: 20px;
  outline: none;
}

.production_content form button[type="submit"]:hover{
/*  background: transparent;*/
/*  color: #00abad;*/
  color: #fff;
  background: #6f9e44;
  transition: all .3s ease-In;
  box-shadow: 0px 0px 6px 0px #ccc;
}