<!DOCTYPE html>
<html>
<head>
  <title>Wissend</title>
  
  <link rel="stylesheet" href="{{url_for('static', filename= 'css/bootstrap.min.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename= 'css/font-awesome.min.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename= 'css/montserrat.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename= 'css/poppins.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename= 'css/bootstrap-datepicker.css')}}"/>
  <link rel="stylesheet" href="{{url_for('static', filename='css/customize/main_css.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='css/customize/header_page.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename= 'css/nightly.jquery.dataTables.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename= 'css/customize/multi-select_table.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='css/customize/addon.css')}}">
  <link rel="icon" href="{{url_for('static', filename='images/icons/wissend_black_icon_40X40.png')}}">
  <script>
    window.addEventListener('load', function (){
        $('body').addClass('loaded');
        let block_height = $("#right_block .profile_content").height();
        $("#right_block .announcement_content .announcement_block").css("height",(block_height/2)+"px");
    })
  </script>
</head>
<body oncontextmenu="return false;">
  <div class="loader_wrapper">
    <div class="loader"></div>
  </div>
  <section id="tool_header">
    <div class="container-fluid">
      <div class="row header_block">
        <div class="col-md-4">
          <a href="{{url_for('employee_page')}}">
            <img src="{{url_for('static', filename='images/icons/250x100.png')}}">
          </a>
        </div>
        <div class="col-md-4 text-center">
          <h3>Performance Management System</h3>
        </div>
        <div class="col-md-4">
          <ul>
            <li>
              <div class="dropdown">
                <button type="button" class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span>{{received_data['employee_name'].split()[0]}}</span>
                  <span><img src="{{url_for('static', filename=received_data['profile_img'])}}"></span>
                </button>
                <div class="dropdown-menu dropdown-menu-right mt-2" aria-labelledby="dropdownMenuButton">
                  <ul>
                    <li class="dropdown-item">
                      <h5 class="font-weight-bold">{{received_data['employee_name']}}</h5>
                    </li>
                    <li class="dropdown-item">
                      <p>{{received_data['employee_designation']}}</p>
                    </li>
                    <li class="dropdown-item">
                      <p>{{received_data['wissend_id']}}</p>
                    </li>
                  </ul>
                  <a class="dropdown-item" id="logout" href="{{url_for('logout')}}">Logout</a>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section id="body_content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-2 left_side_block">
          <p class="col-md-12" id="today_date"></p>
          <div class="mt-1 text-center" id="project_filter">
            <div class="accordion md-accordion" id="side_menu" role="tablist" aria-multiselectable="true">
              <div class="card">
                <div class="card-header" role="tab" id="head_1">
                  {% if received_data['emp_type'] in ['PU']%}
                    <a data-toggle="collapse" data-parent="#side_menu" href="{{url_for('employee_page')}}" aria-expanded="false" aria-controls="collapse_1">
                  {% else %}
                    <a data-toggle="collapse" data-parent="#side_menu" href="{{url_for('team_lead')}}" aria-expanded="false" aria-controls="collapse_1">
                  {% endif %}
                      <h6>
                        <i class="fa fa-address-card" aria-hidden="true"></i>Profile
                      </h6>
                  </a>
                </div>
                <div id="collapse_1" class="collapse" style="display: none;" role="tabpanel" aria-labelledby="head_1" data-parent="#side_menu">
                  <div class="card-body">
                  </div>
                </div>
              </div>
              
              <div class="card production_card">
                <div class="card-header" role="tab" id="head_11">
                  <a data-toggle="collapse" data-parent="#side_menu" href="{{url_for('production')}}" aria-expanded="false" aria-controls="collapse_11">
                    <h6><i class="fa fa-tasks" aria-hidden="true"></i>Production</h6>
                  </a>
                </div>
                <div id="collapse_11" class="collapsed" style="display: none;" role="tabpanel" aria-labelledby="head_11" data-parent="#side_menu">
                  <div class="card-body">
                  </div>
                </div>
              </div>
              
              <div class="card">
                <div class="card-header" role="tab" id="head_9">
                  <a class="collapsed" data-toggle="collapse" data-parent="#side_menu" href="#collapse_9" aria-expanded="false" aria-controls="collapse_9">
                    <h6><i class="fa fa-calendar-check-o"></i>Attendance Report</h6>
                  </a>
                </div>
                <div id="collapse_9" class="collapse" role="tabpanel" aria-labelledby="head_9" data-parent="#side_menu">
                  <div class="card-body">
                    <form method="POST" action="{{url_for('attd_report')}}">
                      <ul>
                        <li id="attd_date_range">
                            <div class="input-daterange input-group" id="datepicker">
                              <div class="justify-content-center">
                                <div class="input-group input-daterange">
                                  <input type="text" class="form-control" id="attd_from_date" name="attd_from_date" placeholder="From Date" {{ "value="+received_data['attd_from_date'] if received_data['attd_from_date'] != "" else '' }} readonly>
                                  <input type="text" class="form-control" id="attd_to_date" name="attd_to_date" placeholder="To Date" {{ "value="+received_data['attd_to_date'] if received_data['attd_to_date'] != "" else '' }} readonly>
                                </div>
                              </div>
                            </div>
                        </li>
                        <li>
                          <p id="attd_error_text" class="text-danger font-weight-bold"></p>
                          <button id="attd_submit" name="report" type="submit">Submit</button>
                        </li>
                      </ul> 
                    </form>
                  </div>
                </div>
              </div>
              
              <div class="card">
                <div class="card-header" role="tab" id="head_3">
                  <a class="collapsed" data-toggle="collapse" data-parent="#side_menu" href="#collapse_3" aria-expanded="false" aria-controls="collapse_3">
                    <h6>
                      <i class="fa fa-line-chart" aria-hidden="true"></i>Reports
                    </h6>
                  </a>
                </div>
                <div id="collapse_3" class="collapse" role="tabpanel" aria-labelledby="head_3" data-parent="#side_menu">
                  <div class="card-body">
                    <div class="mt-1 text-center" id="project_filter">
                      <form method="POST" action="{{url_for('employee_reports')}}">
                        <ul>
                          {% if received_data['emp_type'] in ['PU']%}
                            <li>
                              <ul id="select_report_type">
                                <li class="custom-checkbox custom-control">
                                  <input name="productivity_report" type="checkbox" id="productivity_report" class="custom-control-input" {{'checked="checked"' if received_data['report_type'] == 'Productivity' else ""}}>
                                  <label id="tooltip" class="custom-control-label" for="productivity_report">PRD <label class="tooltiptext">Productivity</label></label>
                                </li>
                                <li class="custom-checkbox custom-control">
                                  <input name="team_quality" type="checkbox" id="team_quality" class="custom-control-input" {{'checked="checked"' if received_data['report_type'] == 'Quality Team' else ""}}>
                                  <label id="tooltip" class="custom-control-label" for="team_quality">QTR <label class="tooltiptext">Team Quality</label></label>
                                </li>
                                <li class="custom-checkbox custom-control">
                                  <input name="user_quality" type="checkbox" id="user_quality" class="custom-control-input" {{'checked="checked"' if received_data['report_type'] == 'Quality User' else ""}}>
                                  <label id="tooltip" class="custom-control-label" for="user_quality">QUR <label class="tooltiptext">Quality User</label></label>
                                </li>
                              </ul>
                            </li>
                          {% endif %}
                          {% if received_data['emp_type'] not in ['PU']%}
                          <li>
                            <ul id="select_report_type">
                              <li class="custom-checkbox custom-control">
                                <input name="productivity_report" type="checkbox" id="productivity_report" class="custom-control-input" {{'checked="checked"' if received_data['report_type'] == 'Productivity' else ""}}>
                                <label id="tooltip" class="custom-control-label" for="productivity_report">PRD <label class="tooltiptext">Productivity</label></label>
                              </li>
                              <li class="custom-checkbox custom-control">
                                <input name="team_quality" type="checkbox" id="team_quality" class="custom-control-input" {{'checked="checked"' if received_data['report_type'] == 'Quality Team' else ""}}>
                                <label id="tooltip" class="custom-control-label" for="team_quality">QTR <label class="tooltiptext">Team Quality</label></label>
                              </li>
                              <li class="custom-checkbox custom-control">
                                <input name="user_quality" type="checkbox" id="user_quality" class="custom-control-input" {{'checked="checked"' if received_data['report_type'] == 'Quality User' else ""}}>
                                <label id="tooltip" class="custom-control-label" for="user_quality">QUR <label class="tooltiptext">Quality User</label></label>
                              </li>
                              <li class="custom-checkbox custom-control">
                                <input name="assure_quality" type="checkbox" id="assure_quality" class="custom-control-input" {{'checked="checked"' if received_data['report_type'] == 'Quality Assurance' else ""}}>
                                <label id="tooltip" class="custom-control-label" for="assure_quality">QAR <label class="tooltiptext">Quality Assurance</label></label>
                              </li>
                            </ul>
                          </li>
                          {% endif %}
                          <li id="project_selected_report">
                            <select name="project_selected" id="productivity_project">
                              <option value="" >Select Project</option>
                              <option value="All" {{ 'selected="selected"' if received_data['project_selected'] == "All" else ""}}>All</option>
                              {% for project, values in received_data['employee_projects'].items() %}
                                <option value="{{project}}" {{ 'selected="selected"' if received_data['project_selected'] == project else "" }}>{{project}}</option>
                              {% endfor %}
                            </select>
                          </li>
                          <li id="process_selected_report">
                            <select name="process_selected" id="productivity_process">
                              <option value="">Select Process</option>
                              <option value="All" {{ 'selected="selected"' if received_data['process_selected'] == "All" else ""}}>All</option>
                              {% for project, values in received_data['employee_projects'].items() %}
                                {% for process_list, data_list in values.items() %}
                                  {% if process_list != 'project_id' and process_list != 'project_short_name' and process_list != 'status' %}
                                    {% for process, data in data_list.items() %}
                                      <option value="{{project}}_{{process}}" {% if received_data['process_selected'] == process %} selected="selected"{% endif %}>{{process}}</option>
                                    {% endfor %}
                                  {% endif %}
                                {% endfor %}
                              {% endfor %}
                            </select>
                          </li>
                          <li id="check_team_user">
                            <div class="custom-checkbox custom-control">
                              <ul>
                                <li>
                                  <input name="check_project" type="checkbox" id="check_project" class="custom-control-input" {{'checked="checked"' if received_data['check_project'] == '1' else ""}} checked onclick="return false">
                                  <label class="custom-control-label" for="check_project">Project</label>
                                </li>
                                <li>
                                  <input name="check_process" type="checkbox" id="check_process" class="custom-control-input" {{'checked="checked"' if received_data['check_process'] == '1' else ""}}>
                                  <label class="custom-control-label" for="check_process">Process</label>
                                </li>
                                <li>
                                  <input name="check_user" type="checkbox" id="check_user" class="custom-control-input" {{'checked="checked"' if received_data['check_user'] == '1' else ""}}>
                                  <label class="custom-control-label" for="check_user">Team</label>
                                </li>
                              </ul>
                            </div>
                          </li>
                          <li id="user_selected">
                            <select name="user_selected" id="myFilter">
                              <option value="">Select User</option>
                              <option value="All" {{ 'selected="selected"' if received_data['user_selected'] == "All" else ""}}>All</option>
                                {% for project_name, process_data in received_data['project_user_data'].items() %}
                                  {% if project_name != "All" %}
                                  {% for user_data_list in process_data.values() %}
                                    {% for user_data in user_data_list %}
                                      <option value="{{project_name}}_{{user_data[1]}}" {{ 'selected="selected"' if received_data['user_selected'] == user_data[1] else ""}}>{{user_data[0]}}</option>
                                      {% endfor %}
                                    {% endfor %}
                                  {% endif %}
                                {% endfor %}
                            </select>
                          </li>
                          <li>
                            <div class="input-daterange input-group" id="datepicker" >
                              <div class="justify-content-center">
                                  <div class="input-group input-daterange">
                                    <input type="text" class="form-control" id="from_date" name="from_date" placeholder="From Date" {{ "value="+received_data['from_date'] if received_data['from_date'] != "" else '' }} readonly>
                                    <input type="text" class="form-control" id="to_date" name="to_date" placeholder="To Date" {{ "value="+received_data['to_date'] if received_data['to_date'] != "" else '' }} readonly>
                                  </div>
                              </div>
                            </div>
                          </li>
                          <li>
                            <div class="row">
                              <div class="col-md-6" id="selected_year">
                                <select name="year_selected">
                                  <option value="" {{ 'selected="selected"' if received_data['year_selected'] == "" else ""}}>Year</option>
                                  <option value="All" {{ 'selected="selected"' if received_data['year_selected'] == "All" else ""}}>All</option>
                                  <option value="2019" {{ 'selected="selected"' if received_data['year_selected'] == "2019" else ""}}>2019</option>
                                  <option value="2020" {{ 'selected="selected"' if received_data['year_selected'] == "2020" else ""}}>2020</option>
                                  <option value="2021" {{ 'selected="selected"' if received_data['year_selected'] == "2021" else ""}}>2021</option>
                                  <option value="2022" {{ 'selected="selected"' if received_data['year_selected'] == "2022" else ""}}>2022</option>
                                  <option value="2023" {{ 'selected="selected"' if received_data['year_selected'] == "2023" else ""}}>2023</option>
                                </select>
                              </div>
                              <div class="col-md-6" id="selected_month">
                                <select name="month_selected">
                                  <option value="" {{ 'selected="selected"' if received_data['month_selected'] == "" else ""}}>Month</option>
                                  <option value="All" {{ 'selected="selected"' if received_data['month_selected'] == "All" else ""}}>All</option>
                                  <option value="1" {{ 'selected="selected"' if received_data['month_selected'] == "1" else ""}}>January</option>
                                  <option value="2" {{ 'selected="selected"' if received_data['month_selected'] == "2" else ""}}>February</option>
                                  <option value="3" {{ 'selected="selected"' if received_data['month_selected'] == "3" else ""}}>March</option>
                                  <option value="4" {{ 'selected="selected"' if received_data['month_selected'] == "4" else ""}}>April</option>
                                  <option value="5" {{ 'selected="selected"' if received_data['month_selected'] == "5" else ""}}>May</option>
                                  <option value="6" {{ 'selected="selected"' if received_data['month_selected'] == "6" else ""}}>June</option>
                                  <option value="7" {{ 'selected="selected"' if received_data['month_selected'] == "7" else ""}}>July</option>
                                  <option value="8" {{ 'selected="selected"' if received_data['month_selected'] == "8" else ""}}>August</option>
                                  <option value="9" {{ 'selected="selected"' if received_data['month_selected'] == "9" else ""}}>September</option>
                                  <option value="10" {{ 'selected="selected"' if received_data['month_selected'] == "10" else ""}}>October</option>
                                  <option value="11" {{ 'selected="selected"' if received_data['month_selected'] == "11" else ""}}>November</option>
                                  <option value="12" {{ 'selected="selected"' if received_data['month_selected'] == "12" else ""}}>December</option>
                              </select>
                              </div>
                            </div>
                          </li>
                          <li>
                            <div id="summary_form">
                              <div class="custom-checkbox custom-control"  >
                                <ul class="mt-0">
                                  <li>
                                    <input name="result_year" type="checkbox" id="check_year" class="custom-control-input" {{'checked="checked"' if received_data['result_year'] == 1 else ""}}>
                                    <label class="custom-control-label" for="check_year">Y</label>
                                  </li>
                                  <li>
                                    <input name="result_month" type="checkbox" id="check_month" class="custom-control-input" {{'checked="checked"' if received_data['result_month'] == 1 else ""}}>
                                    <label class="custom-control-label" for="check_month">M</label>
                                  </li>
                                  <li>
                                    <input name="result_week" type="checkbox" id="check_week" class="custom-control-input" {{'checked="checked"' if received_data['result_week'] == 1 else ""}}>
                                    <label class="custom-control-label" for="check_week">W</label>
                                  </li>
                                  <li>
                                    <input name="result_day" type="checkbox" id="check_day" class="custom-control-input" {{'checked="checked"' if received_data['result_day'] == 1 else ""}}>
                                    <label class="custom-control-label" for="check_day">D</label>
                                  </li>
                                </ul>
                              </div>
                            </div>
                          </li>
                          <li>
                            <button id="project_submit" type="submit" >Submit</button>
                            <button id="reset_submit" type="submit" >Reset</button>
                          </li>
                        </ul>
                        <p id="project_error_text" class="text-danger font-weight-bold"></p>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              {% if received_data['emp_type'] in ["ADMIN","TA","TM","TL","TMR","TLR",'TBH','TBHR'] %}
                <div class="card">
                  <div class="card-header" role="tab" id="head_4" >
                    <a class="collapsed"  data-toggle="collapse" data-parent="#side_menu" href="#collapse_4" aria-expanded="false" aria-controls="collapse_4">
                      <h6>
                        <i class="fa fa-sort-alpha-asc" aria-hidden="true"></i>Key Result Area (KRA)
                      </h6>
                    </a>
                  </div>
                  <div id="collapse_4" class="collapse" role="tabpanel" aria-labelledby="head_4" data-parent="#side_menu">
                    <div class="card-body">
                      <div id="kra_dropdown">
                        <form method="POST" action="{{url_for('kra_input')}}">
                          <ul>
                          <li>
                            <select name="kra_user_selected" id="myFilter1">
                              <option value="">Select User</option>
                              {% if received_data['emp_type'] not in ["TL","TLR"] %}
                                <option value="All" {{ 'selected="selected"' if received_data['kra_user_selected'] == "All" else ""}}>All</option>
                              {% endif %}
                              {% for project, values in received_data['employee_projects'].items() %}
                                {% if values['status'] == 'Active' %}
                                  {% for process_list, data_list in values.items() %}
                                    {% if process_list != 'project_id' and process_list != 'project_short_name' and process_list != 'status' %}
                                      {% for process, data in data_list.items() %}
                                        {% if received_data['emp_type'] in ["TL","TLR"] %}
                                          {% if data['lead_id'] == received_data['employee_id'] %}
                                            <option value="{{data['lead_id']}}" {% if received_data['kra_user_id'] == data['lead_id']|string %} selected="selected"{% endif %}>{{data['lead']}} - {{data['lead_wiss_id']}}</option>
                                          {% endif %}
                                        {% elif received_data['emp_type'] in ["TM","TMR"] %}
                                          {% if data['lead_id'] != data['business_head_id'] %}
                                            <option value="{{data['lead_id']}}" {% if received_data['kra_user_id'] == data['lead_id']|string %} selected="selected"{% endif %}>{{data['lead']}} - {{data['lead_wiss_id']}}</option>
                                          {% endif %}
                                          {% if data['manager_id'] == received_data['employee_id'] and data['manager_id'] != data['business_head_id'] %}
                                            <option value="{{data['manager_id']}}" {% if received_data['kra_user_id'] == data['manager_id']|string %} selected="selected"{% endif %}>{{data['manager']}} - {{data['manager_wiss_id']}}</option>
                                          {% endif %}
                                        {% else %}
                                          {% if data['lead_id'] != data['business_head_id'] %}
                                            <option value="{{data['lead_id']}}" {% if received_data['kra_user_id'] == data['lead_id']|string %} selected="selected"{% endif %}>{{data['lead']}} - {{data['lead_wiss_id']}}</option>
                                          {% endif %}
                                          {% if data['manager_id'] != data['business_head_id'] %}
                                            <option value="{{data['manager_id']}}" {% if received_data['kra_user_id'] == data['manager_id']|string  %} selected="selected"{% endif %}>{{data['manager']}} - {{data['manager_wiss_id']}}</option>
                                          {% endif %}
                                        {% endif %}
                                      {% endfor %}
                                    {% endif %}
                                  {% endfor %}
                                {% endif %}
                              {% endfor %}
                            </select>
                          </li>
                          <li id="check_kra_type">
                            <ul class="custom-checkbox custom-control">
                              <li>
                                <input name="kra_input" type="checkbox" id="kra_input" class="custom-control-input" {{'checked="checked"' if received_data['kra_input'] == '1' else ""}}>
                                <label class="custom-control-label" for="kra_input">Input</label>
                              </li>
                              <li>
                                <input name="kra_report" type="checkbox" id="kra_report" class="custom-control-input" {{'checked="checked"' if received_data['kra_report'] == '1' else ""}}>
                                <label class="custom-control-label" for="kra_report">Report</label>
                              </li>
                            </ul>
                          </li>
                          <li id="kra_month_range">
                            <div class="row">
                              <div class="col-md-6" id="kra_selected_year">
                                <select name="kra_year_selected">
                                  <option value="" {{ 'selected="selected"' if received_data['kra_year_selected'] == "" else ""}}>Year</option>
                                  <option value="All" {{ 'selected="selected"' if received_data['kra_year_selected'] == "All" else ""}}>All</option>
                                  <option value="2020" {{ 'selected="selected"' if received_data['kra_year_selected'] == "2020" else ""}}>2020</option>
                                  <option value="2021" {{ 'selected="selected"' if received_data['kra_year_selected'] == "2021" else ""}}>2021</option>
                                  <option value="2022" {{ 'selected="selected"' if received_data['kra_year_selected'] == "2022" else ""}}>2022</option>
                                  <option value="2023" {{ 'selected="selected"' if received_data['kra_year_selected'] == "2023" else ""}}>2023</option>
                                </select>
                              </div>
                              <div class="col-md-6" id="kra_selected_month">
                                <select name="kra_month_selected">
                                  <option value="" {{ 'selected="selected"' if received_data['kra_month_selected'] == "" else ""}}>Month</option>
                                  <option value="All" {{ 'selected="selected"' if received_data['kra_month_selected'] == "All" else ""}}>All</option>
                                  <option value="1" {{ 'selected="selected"' if received_data['kra_month_selected'] == "1" else ""}}>January</option>
                                  <option value="2" {{ 'selected="selected"' if received_data['kra_month_selected'] == "2" else ""}}>February</option>
                                  <option value="3" {{ 'selected="selected"' if received_data['kra_month_selected'] == "3" else ""}}>March</option>
                                  <option value="4" {{ 'selected="selected"' if received_data['kra_month_selected'] == "4" else ""}}>April</option>
                                  <option value="5" {{ 'selected="selected"' if received_data['kra_month_selected'] == "5" else ""}}>May</option>
                                  <option value="6" {{ 'selected="selected"' if received_data['kra_month_selected'] == "6" else ""}}>June</option>
                                  <option value="7" {{ 'selected="selected"' if received_data['kra_month_selected'] == "7" else ""}}>July</option>
                                  <option value="8" {{ 'selected="selected"' if received_data['kra_month_selected'] == "8" else ""}}>August</option>
                                  <option value="9" {{ 'selected="selected"' if received_data['kra_month_selected'] == "9" else ""}}>September</option>
                                  <option value="10" {{ 'selected="selected"' if received_data['kra_month_selected'] == "10" else ""}}>October</option>
                                  <option value="11" {{ 'selected="selected"' if received_data['kra_month_selected'] == "11" else ""}}>November</option>
                                  <option value="12" {{ 'selected="selected"' if received_data['kra_month_selected'] == "12" else ""}}>December</option>
                              </select>
                              </div>
                            </div>
                          </li>
                        </ul>
                        <p id="kra_error_text_user" class="text-danger font-weight-bold"></p>
                        <button id="kra_submit" type="submit" >Submit</button>
                        </form>
                      </div>
                      </div>
                  </div>
                </div>
              {% endif %}
              

            {% if received_data['emp_type'] in ["ADMIN","TA","TM","TL","TMR","TLR",'TBH','TBHR'] %}
              <div class="card menu_active addon_card">
                <div class="card-header" role="tab" id="head_6">
                  <a data-toggle="collapse" data-parent="#side_menu" href="{{url_for('addon')}}" aria-expanded="false" aria-controls="collapse_6">
                    <h6><i class="fa fa-plus-square" aria-hidden="true"></i>Add-On</h6>
                  </a>
                </div>
                <div id="collapse_6" class="collapsed" style="display: none;" role="tabpanel" aria-labelledby="head_1" data-parent="#side_menu">
                  <div class="card-body">
                  </div>
                </div>
              </div>
            {% endif %}

            {% if received_data['emp_type'] in ['ADMIN','TA','TBH','TBHR'] %}
              <div class="card gallery_card">
                <div class="card-header" role="tab" id="head_8">
                  <a data-toggle="collapse" data-parent="#side_menu" href="{{url_for('emp_entry')}}" aria-expanded="false" aria-controls="collapse_8">
                    <h6><i class="fa fa-users"></i>Employees Entry</h6>
                  </a>
                </div>
                <div id="collapse_8" class="collapsed" style="display: none;" role="tabpanel" aria-labelledby="head_1" data-parent="#side_menu">
                  <div class="card-body">
                  </div>
                </div>
              </div>
            {% endif %}

              <div class="card gallery_card">
	            <div class="card-header" role="tab" id="head_7">
	              <a data-toggle="collapse" data-parent="#side_menu" href="{{url_for('gallery')}}" aria-expanded="false" aria-controls="collapse_7">
	                <h6><i class="fa fa-picture-o" aria-hidden="true"></i>Gallery</h6>
	              </a>
	            </div>
	            <div id="collapse_7" class="collapsed" style="display: none;" role="tabpanel" aria-labelledby="head_1" data-parent="#side_menu">
	              <div class="card-body">
	              </div>
	            </div>
	          </div>

            </div>
          </div>
        </div>

        <div class="col-md-10 offset-md-2 body_bckgrnd">
          <div class="col-md-12 addon_content">
            <ul class="addon_head">
              <li>Add-On Process</li>
            </ul>

            <div class="tab addon_tab">
              <button class="process_tab_link" onclick="moveReport(event, 'addon_process')"><i class="fa fa-plus-square" aria-hidden="true"></i>
                <b>Process Creation</b>
              </button>
              <button class="category_setup_tablink" onclick="moveReport(event, 'addon_category_setup')"><i class="fa fa-list-alt" aria-hidden="true"></i>
                <b>Category Setup</b>
              </button>
              <button class="task_status_tab_link" onclick="moveReport(event, 'addon_task_status')"><i class="fa fa-bar-chart" aria-hidden="true"></i>
                <b>Status</b>
              </button>
            </div>

            <div id="addon_creation">
              <form method="POST" action="{{url_for('addon')}}" onsubmit="addon_submit(event)">
                <ul class="creation_type">
                  <li id="addon_project">
                    <div class="wrap_label">
                      <label for="addon_project">Project</label>
                      <select name="addon_project">
                        <option value="">Select Project</option>
                        {% for project, values in received_data['employee_projects'].items() %}
                          {% if values['status'] == 'Active' %}
                            <option value="{{project}}">{{project}}</option>
                          {% endif %}
                        {% endfor %}
                      </select> 
                      <input style="display: none;" name="addon_project_id" id="addon_project_id" type="text" for="addon_project" readonly>
                    </div>
                  </li>
                  <li id="addon_type">
                    <div class="wrap_label">
                      <label for="addon_type">Add-On Type</label>
                      <select name="addon_type">
                        <option value="">Select Type</option>
                        <option value="Process Creation">Process Creation</option>
                        <option value="Task Creation">Task Creation</option>
                      </select>
                    </div>
                  </li>
                  <li>
                    <button class="add_more_process" type="button"  onclick="multiprocess_adding()">+ more process</button>
                    <button class="add_more_tasks" type="button"  onclick="multitasks_adding()">+ more task</button>
                  </li>
                </ul>
                <ul id="creation_progress_1">
                  <li id="process_creation_1">
                    <label for="process_creation_1">Process Name</label>
                    <input name="process_creation_1" type="text" placeholder="Type new process here...">
                  </li>

                  <li>
                    <div id="multiuser_container_1">
                      <button class="multiuser_btn" type="button" style="outline: none !important;" onclick="users_drop(event)"><i class="fa fa-user-plus"></i>Map Selective Users</button>
                      <div class="multiuser_content_1 d-none shadow rounded menu">
                        {% for project_name, process_data in received_data['project_user_data'].items() %}
                          {% if project_name != "All" %}
                            {% for user_data_list in process_data.values() %}
                              {% for user_data in user_data_list %}
                                {% set index = loop.index %}
                                  {% if user_data[5] == "Active" %}
                                    <span class="d-block menu-option drop_users">
                                      <input name="multiple_user_name_1_{{index}}" id="multiuser_checkbox_1_{{project_name}}_{{user_data[1]}}_{{index}}" type="checkbox" value="{{project_name}}_{{user_data[1]}}" onclick="multiple_users_drop()">
                                      <label for="multiuser_checkbox_1_{{project_name}}_{{user_data[1]}}_{{index}}">{{user_data[0].split('-')[0]}}</label>
                                    </span>
                                  {% endif %} 
                              {% endfor %}
                            {% endfor %}
                          {% endif %}
                        {% endfor %}
                      </div>
                      <div class="d-none" id="multiuserDropdown_1" onclick="users_drop_hide(event)"></div>
                    </div>
                  </li>
                  <li><h6>OR</h6></li>
                  <li>
                    <div id="allusers_container_1">
                      <button class="alluser_btn" type="button" style="outline: none !important;" onclick="allusers_drop(event)"><i class="fa fa-users"></i>Map All Users</button>
                    </div>
                  </li>
                  <li>
                    <div class="mapped_users_1">
                      <textarea name="final_user_select_1" type="text" readonly></textarea>
                      <input name="final_users_count_1" type="text" readonly>
                      <button class="clear_btn" type="button" style="outline: none !important;" onclick="clear_data()">Clear</button>
                    </div>
                  </li>
                  <li id="task_creation_1">
                    <label for="task_creation_1">Task Name</label>
                    <input name="task_creation_1" type="text" placeholder="Type new task here...">
                  </li>
                </ul>

                <div id="add_more_creation"></div>
                <div class="addon_submit text-center">
                  <button type="submit">Submit</button>
                  <p id="addon_error_text" class="col-md-12 mt-3"></p>
                </div>
              </form>

              {% if acknow_status != '' %}
                <div id="acknowModel" class="modal">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h2>Acknowledgement</h2>
                      <span class="close">&times;</span>
                    </div>
                    <div class="modal-body">
                      {% if acknow_status['addon_type'] == 'Task Creation Status' %}
                        {% if acknow_status['prev_task_list'] != [] and acknow_status['new_task_list'] != [] %}
                          <p>{{(", ".join(acknow_status['new_task_list']))}} task has been created successfully !!!</p>
                          <p style="color: red !important;">{{(", ".join(acknow_status['prev_task_list']))}} - These tasks has been already created...</p>
                        {% elif acknow_status['prev_task_list'] == [] and acknow_status['new_task_list'] != [] %}
                          <p>{{(", ".join(acknow_status['new_task_list']))}} task has been created successfully !!!</p>
                        {% elif acknow_status['prev_task_list'] != [] and acknow_status['new_task_list'] == [] %}
                          <p style="color: red !important;">{{(", ".join(acknow_status['prev_task_list']))}} - These tasks has been already created...</p>
                        {% endif %}
                      {% else %}
                        {% if acknow_status['prev_process_list'] != [] and acknow_status['new_process_list'] != [] %}
                          <p>{{(", ".join(acknow_status['new_process_list']))}} process has been created successfully !!!</p>
                          {% if acknow_status['process_employees_list'] != [] %}
                            <p>Selected {{acknow_status['process_employees_list']}} !!!</p>
                          {% endif %}
                          <p style="color: red !important;">{{(", ".join(acknow_status['prev_process_list']))}} - These process has been already created...</p>
                        {% elif acknow_status['prev_process_list'] == [] and acknow_status['new_process_list'] != [] %}
                          <p>{{(", ".join(acknow_status['new_process_list']))}} process has been created successfully !!!</p>
                          {% if acknow_status['process_employees_list'] != [] %}
                            <p>Selected {{acknow_status['process_employees_list']}} !!!</p>
                          {% endif %}
                        {% elif acknow_status['prev_process_list'] != [] and acknow_status['new_process_list'] == [] %}
                          <p style="color: red !important;">{{(", ".join(acknow_status['prev_process_list']))}} - These process has been already created...</p>
                        {% endif %}
                      {% endif %}
                    </div>
                    <div class="modal-footer">
                      <h2>Thanks for updating!!!!</h2>
                    </div>
                  </div>
                </div>
              {% endif %}
            </div>

            <div id="addon_category_setup" class="category_setup_tab_content" style="padding: 10px;">
              <form method="POST" action="{{url_for('addon')}}" onsubmit="SetupfinalSubmision(event)">
                <ul class="creation_type">
                  <li id="category_project">
                    <label for="category_project">Project</label>
                    <select name="category_project">
                      <option value="">Select Project</option>
                      {% for project, values in received_data['employee_projects'].items() %}
                        {% if values['status'] == 'Active' %}
                          <option value="{{project}}">{{project}}</option>
                        {% endif %}
                      {% endfor %}
                    </select> 
                    <input style="display: none;" name="category_project_id" id="category_project_id" type="text" for="category_project" readonly>
                  </li>
                </ul>

                <div id="category_creation_1" class="row col-md-12" data-row="1">
                  <!-- <span class="close setup_close" onclick="SetupRemoving(this)">&times;</span> -->
                  <div class="col-md-4 addon_process_setup_block" id="addon_process">
                    <label for="addon_process">Process</label>
                    <input style="display: none;" name="addon_process_id" id="addon_process_id" type="text" for="addon_process" readonly>
                  </div>
                  <div class="col-md-3 addon_category_setup_block">
                    <label>Category/Task</label>
                    <input name="set_cat_and_task" id="set_cat_and_task" type="text" placeholder="Category or Task">
                  </div>
                  <div class="col-md-3 addon_range_setup_block">
                    <label>Target</label>
                    <input name="set_target" id="set_target" type="number" placeholder="Count">
                    <label>Hours</label>
                    <input name="set_hour" id="set_hour" type="number" placeholder="HH.MM">
                  </div>
                  <div class="col-md-1 range_setup_block">
                    <button type="button" class="setup_clear" onclick="SetupReset(this)">Clear</button>
                    <button type="button" class="setup_add" onclick="SetupAdding(this)">Add</button>
                  </div>
                </div>
                <div id="new_setup_field"></div>
                <div class="error_block"><p></p></div>
                <button type="Submit" class="setup_submit">Submit</button>
              </form>
            </div>

            <div id="addon_category_status" class="category_status_tab_content" style="padding: 10px;">
              <div class="row category_status_table">
                <table id="ms_table" class="col-md-12 display nowrap">
                  <thead>
                    <tr>
                      {% for entry_value in range(1, 6) %}
                        <th>Header_{{entry_value}}</th>
                      {% endfor %}
                      <th>Edit</th>
                    </tr>
                    <tr>
                      {% for entry_data in range(1, 7) %}
                        <td></td>
                      {% endfor %}
                    </tr>
                  </thead>
                  <tbody>
                    {% for entry_value in range(1, 6) %}
                      {% set index = loop.index %}
                      <tr data-col={{index}}>
                        {% for entry_key in range(1, 6) %}
                          <td value="{{entry_value}}">Value_{{entry_key}}_{{entry_value}}</td>
                        {% endfor %}
                        <td class="row_Revert" id="revert_row" value="file_Revert"><b><i class="fa fa-edit"></i></b></td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
          
      </div>
    </div>
  </section>
  <section id="footer">
    <div class="footer">
      <p>© 2020 Wissend. All rights reserved.</p>
    </div>
  </section>
  <script type="text/javascript">
    var my_storage = '{{received_data|tojson}}';
  </script>
  <script type="text/javascript" src="{{url_for('static', filename= 'js/jquery.min.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static', filename= 'js/jquery-1.12.4.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static', filename= 'js/jquery-ui.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static', filename= 'js/jquery-confirm.min.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static', filename= 'js/bootstrap.bundle.min.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static', filename= 'js/nightly.jquery.dataTables.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static', filename= 'js/dataTables.fixedHeader.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static', filename= 'js/popper.min.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static', filename= 'js/bootstrap-datepicker.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static', filename= 'js/customize/addon.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static', filename= 'js/customize/multi-select_table.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static', filename= 'js/customize/main_js.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static', filename= 'js/js_custom/tabletoExcel.js')}}"></script>
</body>
</html>