<!DOCTYPE html>
<html>
<head>
  <title>Wissend</title>
  
  <link rel="stylesheet" href="{{url_for('static', filename= 'css/bootstrap.min.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename= 'css/font-awesome.min.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename= 'css/montserrat.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename= 'css/poppins.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename= 'css/bootstrap-datepicker.css')}}" />
  <link rel="stylesheet" href="{{url_for('static', filename='css/customize/main_css.css')}}">
  <link rel="icon" href="{{url_for('static', filename='images/icons/wissend_black_icon_40X40.png')}}">
  <script>
    window.addEventListener('load', function () {
        $('body').addClass('loaded');
        //set announcement div height
        
    })
  </script>
</head>
<body oncontextmenu="return false;">
  <div class="loader_wrapper">
    <div class="loader"></div>
  </div>
  <section id="tool_header">
    <div class="container-fluid">
      <div class="row header_block body_bckgrnd">
        <div class="col-md-3">
          <a href="{{url_for('employee_page')}}">
            <img src="{{url_for('static', filename='images/icons/250x100.png')}}">
          </a>
        </div>
        <div class="col-md-5 text-center">
          <h3>Performance Management System</h3>
        </div>
        <div class="col-md-4">
          <ul>
            <li>
              <div class="dropdown">
                <button type="button" class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span>{{received_data['employee_name'].split()[0]}}</span>
                  <span><img src="{{url_for('static', filename=received_data['profile_img'])}}"></span>
                </button>
                <div class="dropdown-menu dropdown-menu-right mt-2" aria-labelledby="dropdownMenuButton">
                  <ul>
                    <li class="dropdown-item">
                      <h5 class="font-weight-bold">{{received_data['employee_name']}}</h5>
                    </li>
                    <li class="dropdown-item">
                      <p>{{received_data['employee_designation']}}</p>
                    </li>
                    <li class="dropdown-item">
                      <p>{{received_data['wissend_id']}}</p>
                    </li>
                  </ul>
                  <a class="dropdown-item" id="logout" href="{{url_for('logout')}}">Logout</a>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section id="body_content">
    <div class="container-fluid body_bckgrnd" id="change_pswd_content">
        <div class="row align-items-center change_pswd_content">
            <div class="col-md-4 offset-md-4 change_pswd">
                <form action="{{url_for('change_password')}}" method="POST">
                    <div style="display: inline-flex;">
                      <h6>Create New Password *</h6>
                      <input type="password" id="create_password" name="new_password" placeholder="Enter new password">
                      <i class="fa fa-eye-slash" id="create_togglePassword" onclick="create_change_icon()"></i>
                    </div>
                    <div style="display: inline-flex;">
                      <h6>Re-enter New Password *</h6>
                      <input type="password" id="confirm_password" name="confirm_new_password" placeholder="Re-enter new password">
                      <i class="fa fa-eye-slash" id="confirm_togglePassword" onclick="confirm_change_icon()"></i>
                    </div>
                    <button type="submit">Submit</button>
                    <p class="error_text text-danger font-weight-bold"></p>
                    <p>Notes * :</p>
                    <p>Your Password should have atleast </p>
                    <ul>
                        <li>Must contain more than 10 characters</li>
                        <li>one Uppercase letter</li>
                        <li>one Lowercase letter</li>
                        <li>one Special character [ $, #, @, !, %, ^, &, *, (, ) ]</li>
                        <li>one Numeric Number [0-9]</li>
                    </ul>
                </form>
            </div>
        </div>
    </div>
  </section>
  <section id="footer">
    <div class="footer">
      <p>© 2020 Wissend. All rights reserved.</p>
    </div>
  </section>

  <script src="{{url_for('static', filename= 'js/jquery.min.js')}}"></script>
  <script src="{{url_for('static', filename= 'js/bootstrap.bundle.min.js')}}"></script>
  <script src="{{url_for('static', filename='js/popper.min.js')}}"></script>
  <script src="{{url_for('static', filename= 'js/bootstrap-datepicker.js')}}"></script>
  <script src="{{url_for('static', filename= 'js/customize/login.js')}}"></script>
</body>
</html>
