<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <title>Wissend</title>
    <link rel="icon" href="{{url_for('static', filename='images/icons/wissend_black_icon_40X40.png')}}">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"> -->
    <link rel="stylesheet" href="{{url_for('static', filename= 'css/bootstrap.min.css')}}" />
    <link rel="stylesheet" href="{{url_for('static', filename= 'css/font-awesome.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename= 'css/montserrat.css')}}" />
    <link rel="stylesheet" href="{{url_for('static', filename= 'css/poppins.css')}}" />
    <link rel="stylesheet" href="{{url_for('static', filename= 'css/customize/header_page.css')}}" />
    <link rel="stylesheet" href="{{url_for('static', filename= 'css/customize/master_page.css')}}" />
    <style>
        .loader_wrapper{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1000;
        background: #f8f8f8;
    }
    .loader {
        border: 2px solid #f3f3f3;
        border-radius: 50%;
        border-top: 2px solid #3498db;
        -webkit-animation: spin 0.5s linear infinite;
        animation: spin 0.5s linear infinite;
        z-index: 1001;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 40px;
        height: 40px;
        margin: auto;
    }
    
    @-webkit-keyframes spin {
        0% { -webkit-transform: rotate(0deg); }
        100% { -webkit-transform: rotate(360deg); }
    }
    
    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
    
    .loaded .loader_wrapper {
        visibility: hidden;
    }
    
      </style>
      <script>
        window.addEventListener('load', function () {
            $('body').addClass('loaded');
        })
      </script>
</head>

<body oncontextmenu="return false;" class="login_bg">
    <div class="loader_wrapper">
        <div class="loader"></div>
    </div>
    <section id="tool_header">
      <div class="container-fluid">
        <div class="row header_block">
          <div class="col-md-4">
            <a href="{{url_for('master_page')}}">
              <img src="{{url_for('static', filename='images/icons/250x100.png')}}">
            </a>
          </div>
          <div class="col-md-4 text-center">
            <h3>Master Employees Tracker</h3>
          </div>
          <div class="col-md-4">
            <ul>
              <li>
                <a href="{{url_for('master_page')}}"><i class="fa fa-home" aria-hidden="true"></i></a>
              </li>
              <li>
                <div class="dropdown">
                  <button type="button" class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{received_data['employee_name'].split()[0]}}
                    <img src="{{url_for('static', filename=received_data['profile_img'])}}">
                  </button>
                  <div class="dropdown-menu dropdown-menu-right mt-2" aria-labelledby="dropdownMenuButton">
                    <ul>
                      <li class="dropdown-item">
                        <h5 class="font-weight-bold">{{received_data['employee_name']}}</h5>
                      </li>
                      <li class="dropdown-item">
                        <p>{{received_data['employee_designation']}}</p>
                      </li>
                      <li class="dropdown-item">
                        <p>{{received_data['master_wissend_id']}}</p>
                      </li>
                    </ul>
                    <a class="dropdown-item" id="logout" href="{{url_for('master_logout_page')}}">Logout</a>
                  </li>
                  </div>
                </div>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section id="body_content">
      <div class="container-fluid">
        <div class="row">
          <div id="o" class="col analysis_module">
            <ul>
              <li>Overall<i class="fa fa-users" aria-hidden="true"></i></li>
              <li>
                <div class="counter">{{employee_data['summary'][0]}}</div>
              </li>
              <li>Employees</li>
            </ul>
          </div>
          <div id="a" class="col analysis_module">
            <ul>
              <li>Active<i class="fa fa-share-square" aria-hidden="true"></i></li>
              <li>
                <div class="counter">{{employee_data['summary'][1]}}</div>
              </li>
              <li>Employees</li>
            </ul>
          </div>
          <div id="ia" class="col analysis_module">
            <ul>
              <li>In-Active<i class="fa fa-share-square-o" aria-hidden="true"></i></li>
              <li>
                <div class="counter">{{employee_data['summary'][2]}}</div>
              </li>
              <li>Employees</li>
            </ul>
          </div>
          <div id="pf" class="col analysis_module">
            <ul>
              <li>PF<i class="fa fa-user-plus" aria-hidden="true"></i></li>
              <li>
                <div class="counter">{{employee_data['summary'][3]}}</div>
              </li>
              <li>Employees</li>
            </ul>
          </div>
          <div id="e" class="col-md-4 analysis_module">
            <ul class="col-md-12 pt-3">
              <li>Experience<i class="fa fa-link" aria-hidden="true"></i></li>
              <li>
                <ul class="exp_split">
                  <li>0 - 1</li>
                  <li>
                    <div class="counter">{{employee_data['summary'][4]}}</div>
                  </li>
                  <li>Employees</li>
                </ul>
                <ul class="exp_split">
                  <li>2 - 4</li>
                  <li>
                    <div class="counter">{{employee_data['summary'][5]}}</div>
                  </li>
                  <li>Employees</li>
                </ul>
                <ul class="exp_split">
                  <li>5 +</li>
                  <li>
                    <div class="counter">{{employee_data['summary'][6]}}</div>
                  </li>
                  <li>Employees</li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section id="footer">
      <div class="footer">
        <p>© 2020 Wissend. All rights reserved.</p>
      </div>
    </section>
    <script src="{{url_for('static', filename= 'js/jquery.min.js')}}"></script>
    <script src="{{url_for('static', filename= 'js/bootstrap.bundle.min.js')}}"></script>
    <script src="{{url_for('static', filename= 'js/jquery.counterup.js')}}"></script>
    <script src="{{url_for('static', filename= 'js/jquery.waypoints.js')}}"></script>
    <script src="{{url_for('static', filename= 'js/customize/master_page.js')}}"></script>
</body>


</html>